<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10" style="margin-left: 8%;">
      <div class="card">
        <div class="card-title">
          <h3 style="text-align:center;">Nombre d'employés par service </h3>
        </div>
        <div class="card-body">
          <div style="display: block">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
              [legend]="lineChartLegend"  [chartType]="lineChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--





       

  -->