<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Employés</h5>

        </div>
        <div class="card-body all-icons">
          <div class="card-body">
            <form [formGroup]="employeForm">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-8">
                  <input class="form-control" formControlName="nom" [(ngModel)]="selectedEmploye.nom" placeholder="Nom">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Prenom</label>
                <div class="col-sm-8">
                  <input class="form-control" formControlName="prenom" [(ngModel)]="selectedEmploye.prenom"
                    placeholder="Prenom">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input class="form-control" formControlName="email" [(ngModel)]="selectedEmploye.email">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Télephone</label>
                <div class="col-sm-8">
                  <input class="form-control" formControlName="telephone" [(ngModel)]="selectedEmploye.telephone">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Service</label>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="service" (change)="findServiceById($event.target.value)"
                    [(ngModel)]="selectedEmploye.service">
                    <option disabled="disabled">Sélectionnez un service</option>
                    <option *ngFor="let service of services" [value]="service.id">{{service.nom}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <button class="btn btn-primary" (click)="operation == 'add' ? addEmploye() : updateEmploye()">
                  {{operation == 'add' ? 'Ajouter' :
                            operation == 'edit' ? 'Modifier' : ''}}
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
      <!-- <div class="modal" id="myModal">
        <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Modal header</h3>
        </div>
        <div class="modal-body">
        <p>One fine body…</p>
        </div>
        <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
        </div>
        </div>-->
      <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Attention</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Voulez-vous vraiment supprimer cet employé {{selectedEmploye.nom}} {{selectedEmploye.prenom}}?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="deleteEmploye()"
                data-dismiss="modal">Confirmer</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="initEmploye()">Fermer</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Liste des employes</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      NOM
                    </th>
                    <th>
                      PRENOM
                    </th>
                    <th>
                      EMAIL
                    </th>
                    <th>
                      TELEPHONE
                    </th>
                    <th>
                      SERVICE
                    </th>
                    <th>
                      MODIFIER
                    </th>
                    <th>
                      SUPPRIMER
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let employe of employes">
                      <td>{{employe.id}}</td>
                      <td>{{employe.nom}}</td>
                      <td>{{employe.prenom}}</td>
                      <td>{{employe.email}}</td>
                      <td>{{employe.telephone}}</td>
                      <td> {{employe.service.nom}}</td>
                      <td><button class="btn btn-outline-warning"
                          (click)="selectedEmploye=employe;selectedEmploye.service=employe.service.id ;operation='edit';">Modifier</button>
                      </td>
                      <td><button class="btn btn-outline-danger" data-toggle="modal" href="#myModal"
                          (click)="selectedEmploye=employe ">Supprimer</button></td>
                    </tr>
                  </tbody>


                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>